attrs==21.*
click==8.*
coverage==6.*
dnspython==2.*
email-validator==1.*
Flask==2.*
Flask-Bootstrap4==4.*
Flask-Login==0.*
Flask-SQLAlchemy==2.*
Flask-Testing==0.*
flask-unittest==0.*
Flask-WTF==1.*
idna==3.*
importlib-metadata==4.*
iniconfig==1.*
itsdangerous==2.*
Jinja2==3.*
MarkupSafe==2.*
packaging==21.*
pluggy==1.*
py==1.*
PyMySQL==1.*
pyparsing==3.*
pytest==7.*
pytest-cov==3.*
pytest-flask==1.*
SQLAlchemy==1.*
tomli==1.*
Werkzeug==2.*
WTForms==3.*
zipp==3.*